<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	 <context:property-placeholder
		location="classpath:advertisment.properties" /> 
		
	<bean id="ads" class="model.map.Advertisement">
		<property name="inputAdsForm">
			<map>
				<entry key="postAdForm.adType" value="${postAdForm.adType}" />
				<entry key="postAdForm.priceType" value="${postAdForm.priceType}" />
				<entry key="postAdForm.priceAmount" value="${postAdForm.priceAmount}" />
				<entry key="postAdForm.attributeMap[forsaleby_s]" value="${postAdForm.attributeMap}" />
				<entry key="postAdForm.title" value="${postAdForm.title}" />
				<entry key="postAdForm.description" value="${postAdForm.description}" />
				<entry key="postAdForm.locationId" value="${postAdForm.locationId}" />
				<entry key="postAdForm.mapAddress" value="${postAdForm.mapAddress}" />
				<entry key="FileUploadInput" value="${FileUploadInput}" />
				<entry key="postAdForm.youtubeVideoURL" value="${postAdForm.youtubeVideoURL}" />
				<entry key="postAdForm.phoneNumber" value="${postAdForm.phoneNumber}" />
				<entry key="login.form" value="login-form"/>
				<entry key="PostAdMainForm" value="PostAdMainForm"/>				
				<entry key="postAdForm.geocodeLat" value="45.580333"/>
				<entry key="postAdForm.geocodeLng" value="-73.982965"/> 
				<entry key="file" value="D:\Users\vcojocaru\workspace\Kijiji\pepsi.jpg"/>
				<entry key="ModalSurveyForm" value="submit"/>
				<entry key="checkbox" value="1039512297"/>
				<entry key="DeleteSurveyOK" value="DeleteSurveyOK"/>
				
				
			</map>
		</property>
		
		<property name="linksAdsMap">
			<map>
				<entry key="link.home" value="https://www.kijiji.ca" />
				<entry key="my.kijiji" value="/m-my-ads.html" />
				<entry key="set.location" value="/h-ville-de-montreal/1700281?ula=true" />
				<entry key="select.category" value="/p-select-category.html" />
				<entry key="post.an.ad" value="/p-post-ad.html" />
				<entry key="category.id" value="?categoryId=144" />
				<entry key="login.page" value="/t-login.html"/>
				<entry key="sing.out" value="/m-logout.html" />
				
				
			</map>
		</property>
		
		<property name="stepsLinks">
			<list>		
			<value>http://www.kijiji.ca/h-ville-de-montreal/1700281?ula=true</value>			
				<value>/m-my-ads.html</value>
				<value>/p-select-category.html</value>				
				<value>/p-post-ad.html?categoryId=26</value>
				<value>/m-logout.html</value>
			</list>
		</property>	
	</bean>
</beans>